{%- comment -%}
  Placeholder for article-prev-next snippet. Add navigation logic as needed.
{%- endcomment -%}
<div id="article-prev-next" class="">
  <div id="article-prev-next-prev"></div>
  <div id="article-prev-next-next"></div>
</div>
